{% extends "djbootstrap/base.html" %}

{% block css %}{{ block.super }}
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .sidebar-nav {
        padding: 9px 0;
    }
{% endblock %}

{% block body_content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
              {% block sidebar %}{% endblock %}
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            {% block content %}{% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

    <footer>
        {% block footer %}
        <p>&copy; Company {% now "Y" %}</p>
        {% endblock %}
    </footer>
</div> <!-- /container -->
{% endblock %}
